# Repo opgeschoond: Digitale Nuts App en DN_DISPATCH worden getrackt
*
!/.gitignore
!/digitale-nuts-app/
!/digitale-nuts-app/**
!/DIGITALE\ NUTS\ APP/
!/DIGITALE\ NUTS\ APP/DN_DISPATCH/
!/DIGITALE\ NUTS\ APP/DN_DISPATCH/**
